
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #f3ba34;
    --secondary-color: #143d59;

}

body {
    background-color: #f6e9cd;
    font-family: "Montserrat", sans-serif;
}

header {
    text-align: center;
    margin: 2rem;

}


h1 {
    font-size: 3rem;
    color: var(--secondary-color)
}



.container {
    margin: auto;
    width: 50vw;
}


input,
label{
    display: block;
    width: 100%;
}

#date-of-birth {
    padding: 1rem 3rem;
    border-radius: 1rem;
    border-color: var(--secondary-color);
    /* width: 50%; */
    font-style: bold;
    margin-bottom: 2rem;
}

#lucky-number {
    padding: 1rem 3rem;
    border-radius: 1rem;
    border-color: var(--secondary-color);
    /* width: 50%; */
    font-style: bold;
    
}

button {
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    padding: 0.5rem 2rem;
    margin: 2rem auto;
    display: block;
    border-radius: 1rem;
    border-width: 3px;
    font-size: large;
}

.message {
    display: none;
}


footer {
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
}

.connect {
    color: var(--secondary-color);
    font-size: 1.50rem;
    margin-bottom: 1.25rem;

}

a, 
i {
    width: 30px;
    height: 30px;
    padding: 3px;
}